@import url('https://fonts.googleapis.com/css2?family=Edu+SA+Beginner:wght@700&family=Edu+VIC+WA+NT+Beginner&family=Montserrat:wght@100&family=Roboto+Mono:wght@200&display=swap');
body {
    font-family: 'Robot mono', sans-serif;
    overflow-x: hidden;
}

#logo {
    display: none;
    width: 80px;
    height: 80px;
}

header {
    background-color: #1b0088;
}

.nav {
    background-color: #ffffff;
}

#menu a:hover {
    background-color: gray;
    border-radius: 5%;
    color: #ffffff;
}

.carousel-inner {
    max-height: 48rem;
}

footer {
    display: none;
    background-color: #1b0088;
    min-height: 100px;
}

footer p {
    color: #ffffff;
    text-align: center;
}

#iconos i {
    font-size: 26px;
    padding: 0 8px;
    color: #ffffff;
}

#slogan {
    display: none;
}

#destinos {
    display: none;
}

#destinos p {
    text-align: justify;
}

#destinos h3 {
    text-align: center;
}

#destinos img:hover {
    width: 200px;
    height: 180px;
}

#centrodeayuda {
    display: none;
}

#centrodeayuda p {
    text-align: justify;
}

#img-contacto {
    display: none;
}

@media (max-width: 576px) {
    .icono-wrap {
        flex-wrap: wrap;
        justify-content: center !important;
    }
}

@media (max-with:768px) {
    #slogan {
        width: 90% !important;
    }
    .destinos-fila {
        width: 100% !important;
        text-align: center;
    }
}